apiVersion: v1
kind: ConfigMap
metadata:
    name: application-configmap
data:
    application.conf: |
        # Properties for akka.kafka.ConsumerSettings can be
        # defined in this section or a configuration section with
        # the same layout.
        akka {
          loggers = ["akka.event.slf4j.Slf4jLogger"]
          loglevel = "INFO"
          logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"
          # Properties for akka.kafka.ProducerSettings can be
          # defined in this section or a configuration section with
          # the same layout.
          kafka.producer {
            # Tuning parameter of how many sends that can run in parallel.
            parallelism = 100

            # Duration to wait for `KafkaProducer.close` to finish.
            close-timeout = 60s
            # Properties for akka.kafka.ConsumerSettings can be
            # defined in this section or a configuration section with
            # the same layout.

            # Fully qualified config path which holds the dispatcher configuration
            # to be used by the producer stages. Some blocking may occur.
            # When this value is empty, the dispatcher configured for the stream
            # will be used.
            use-dispatcher = "akka.kafka.default-dispatcher"

            # The time interval to commit a transaction when using the `Transactional.sink` or `Transactional.flow`
            # for exactly-once-semantics processing.
            eos-commit-interval = 100ms

            # Properties defined by org.apache.kafka.clients.producer.ProducerConfig
            # can be defined in this configuration section.
            kafka-clients {
              bootstrap.servers = "broker-5-fvylx0l6bzhbwxpw.kafka.svc01.us-south.eventstreams.cloud.ibm.com:9093,broker-4-fvylx0l6bzhbwxpw.kafka.svc01.us-south.eventstreams.cloud.ibm.com:9093,broker-2-fvylx0l6bzhbwxpw.kafka.svc01.us-south.eventstreams.cloud.ibm.com:9093,broker-0-fvylx0l6bzhbwxpw.kafka.svc01.us-south.eventstreams.cloud.ibm.com:9093,broker-1-fvylx0l6bzhbwxpw.kafka.svc01.us-south.eventstreams.cloud.ibm.com:9093,broker-3-fvylx0l6bzhbwxpw.kafka.svc01.us-south.eventstreams.cloud.ibm.com:9093"
            }

            myTopic = "sourceTopic"
            sasl.jaas.config = "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"token\" password=\"<password>\";",
            sasl.mechanism = "PLAIN"
            security.protocol = "SASL_SSL"
            ssl.protocol = "TLSv1.2"
          }
        }
---
apiVersion: v1
kind: ConfigMap
metadata:
    name: logback-configmap
data:
    logback.xml: |-
        <configuration>

            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>

            <logger name="org.apache" level="INFO"/>
            <!--<logger name="com.elsevier.entellect" level="INFO"/>-->
            <logger name="akka" level="INFO"/>

            <root level="INFO">
                <appender-ref ref="STDOUT" />
            </root>

        </configuration>
